<!DOCTYPE html>
  <body>

<br>
<center><h1>Welcome <%= @user.name %>!</h1></center><br>
<br>

<center><h3>Your restaurant entries:</h3></center>

<% RestaurantEntry.all.each do |restaurant| %>
  <% if restaurant.user_id == @user.id %>
  <center><h4><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></h4></center><br>
  <% end %>
<% end %>

  </body>
</html>
