<h4>Welcome <%= @user.name %>!</h4><br>
<br>
<br>
<p>Your restaurant entries:</p>

<% RestaurantEntry.all.each do |restaurant| %>
  <% if restaurant.user_id == @user.id %>
  <a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a><br>
  <% end %>
<% end %>

<br>
<br>

<a href="/restaurants/new">Create Restaurant Entry</a><br>
<a href="/restaurants">View All Restaurant Entries</a><br>

<br>
<form method="GET" action="/logout">
<input type="submit" value="Logout">
</form>

