<!DOCTYPE html>
  <body>

<!-- Header with image -->
<header class="bgimg4" id="show">

<br>
<center><h1>Welcome <%= @user.name %>!</h1></center><br>
<br>

<center><h3>Your restaurant entries:</h3></center>

<% RestaurantEntry.all.each do |restaurant| %>
  <% if restaurant.user_id == @user.id %>
  <center><h4><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></h4></center><br>
  <% end %>
<% end %>

</header>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p>Created by: Kelly Hesterly</p>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <a href="https://github.com/kellyhesterly?tab=repositories"><i class="fa fa-github fa-2x"></i></a>
  <a href="www.linkedin.com/in/kellyhesterly"><i class="fa fa-linkedin-square fa-2x"></i></a>
  <a href="https://twitter.com/smithh_22"><i class="fa fa-twitter-square fa-2x"></i></a>
</footer>

  </body>
</html>
