<h4>Restaurant Entries</h4>
<br>
<br>

<% @restaurants.each do |restaurant| %>
  <a href="/restaurants/<%= restaurant.id %>"><li><%= restaurant.name %></a> - submitted by <%= restaurant.user.name %></li><br>
<% end %>

<br>
<br>
<a href="/restaurants/new">Create Restaurant Entry</a><br>
<br>
<br>
<form method="GET" action="/logout">
<input type="submit" value="Logout">
</form>