<h4>New Restaurant Entry</h4><br>

<form method="POST" action="/restaurants">

  Restaurant Name: <input type="text" name="name" value=""><br>
  Why you love it: <input type="text" name="content" value=""><br>
  Recommended Dish: <input type="text" name="dish" value=""><br>
  Recommended Drink: <input type="text" name="drink" value=""><br>
  How pricey is this place? <input type="text" name="price" value=""><br>
  How was the service? <input type="text" name="service" value=""><br>
  What's the atmosphere like? <input type="text" name="atmosphere" value=""><br>
  <br>
  <input type="submit" value="Create Entry"><br>
</form>
