<h4>New Restaurant Entry</h4><br>

<form method="POST" action="/restaurants">

  Restaurant Name: <input type="text" name="restaurant_name" value=""><br>
  Why you love it: <input type="text" name="restaurant_content" value=""><br>
  Recommended Dish: <input type="text" name="restaurant_dish" value=""><br>
  Recommended Drink: <input type="text" name="restaurant_drink" value=""><br>
  How pricey is this place? <input type="text" name="restaurant_price" value=""><br>
  How was the service? <input type="text" name="restaurant_service" value=""><br>
  What's the atmosphere like? <input type="text" name="restaurant_atmosphere" value=""><br>
  <br>
  <input type="submit" value="Submit"><br>
</form>
