<!DOCTYPE html>
<html>

  <body>

    <!-- Navbar (sit on top) -->
    <% if logged_in? %>
    <div class="w3-top w3-hide-small">
      <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
        <a href="/restaurants">View All Restaurant Entries</a>
        <a href="/restaurants/new">Create Restaurant Entry</a>
        <a href="/logout">Logout</a>
      <% end %>
      </div>
    </div>

    <% if flash[:message] %>
      <h4><%= flash[:message] %></h4>
    <% end %>

    <div class="wrapper">

        <%= yield %>
    </div>

  </body>
</html>
