<!DOCTYPE html>
  <body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="/">Home</a>
  </div>
</div>
<br>
<br>

<!-- Flash message -->
    <% if flash[:message] %>
      <br>
      <br>
      <h4><%= flash[:message] %></h4>
    <% end %>

<!-- Form with image-->
<header class="bgimg2 w3-display-container" id="login">

  <form method="POST" action="/login">
    <center><h1>Please Login Below</h1></center><br>
    <center><h4>Username: <input type="text" name="username" value=""></h4></center><br>
    <center><h4>Password: <input type="password" name="password" value=""></h4></center><br>
    <br>
    <h3><center><input type="submit" value="Login"></center></h3>
  </form>


<br>
<br>

<center><h4><a href='/signup'>Signup</a></h4></center>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p>Created by: Kelly Hesterly</p>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <a href="https://github.com/kellyhesterly?tab=repositories"><i class="fa fa-github fa-2x"></i></a>
  <a href="www.linkedin.com/in/kellyhesterly"><i class="fa fa-linkedin-square fa-2x"></i></a>
  <a href="https://twitter.com/smithh_22"><i class="fa fa-twitter-square fa-2x"></i></a>
</footer>

  </body>
</html>
