<!DOCTYPE html>

  <body>

  <!-- Navbar (sit on top) -->
  <% if logged_in? %>
  <div class="w3-top w3-hide-small">
    <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
      <a href="/restaurants">View All Restaurant Entries</a>
      <a href="/restaurants/new">Create Restaurant Entry</a>
      <a href="/logout">Logout</a>
    <% end %>
    </div>
  </div>

  <!-- Flash message -->
    <% if flash[:message] %>
        <br>
        <br>
        <h4><%= flash[:message] %></h4>
    <% end %>

<!-- Header with image -->
<header class="bgimg w3-display-container" id="home">
  <div class="w3-display-bottomleft w3-padding">
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-black-bold w3-hide-small" style="font-size:100px">Recommended<br>New York Restaurants</span>
    <span class="w3-text-black-bold w3-hide-large w3-hide-medium" style="font-size:60px"><b>Recommended<br>New York Restaurants</b></span>
    <p><a href='/login' class="w3-button w3-xxlarge w3-black">Login</a></p>
    <p><a href='/signup' class="w3-button w3-xxlarge w3-black">Signup</a></p>
  </div>
</header>

<!-- About Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About</h1>
    <p>Created with food lovers in mind, this simple app allows you to connect and share food you love with users from all across the globe! Share your favorite restaurant experiences, dishes and drinks in NYC!</p>
  </div>
</div>

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale" style="width:100%;" id="myMap">

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p>Created by: Kelly Hesterly</p>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <a href="https://github.com/kellyhesterly?tab=repositories"><i class="fa fa-github fa-2x"></i></a>
  <a href="www.linkedin.com/in/kellyhesterly"><i class="fa fa-linkedin-square fa-2x"></i></a>
  <a href="https://twitter.com/smithh_22"><i class="fa fa-twitter-square fa-2x"></i></a>
</footer>

  </body>
</html>
