<!DOCTYPE html>
  <body>

<!-- Header with image -->
<div class="w3-top w3-hide-small"></div>
  <header class="bgimg w3-display-container" id="home">
    <div class="w3-display-bottomleft w3-padding"></div>
    <div class="w3-display-middle w3-center">
      <span class="w3-text-black-bold w3-hide-small" style="font-size:100px">Recommended<br>New York Restaurants</span>
      <p><a href='/login' class="w3-button w3-xxlarge w3-black">Login</a></p>
      <p><a href='/signup' class="w3-button w3-xxlarge w3-black">Signup</a></p>
  </div>
</header>

<!-- About Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About</h1>
    <p>Created with food lovers in mind, this simple app allows you to connect and share food you love with users from all across the globe! Share your favorite restaurant experiences, dishes and drinks in NYC!</p>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p>Created by: Kelly Hesterly</p>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <a href="https://github.com/kellyhesterly?tab=repositories"><i class="fa fa-github fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/kellyhesterly"><i class="fa fa-linkedin-square fa-2x"></i></a>
  <a href="https://twitter.com/smithh_22"><i class="fa fa-twitter-square fa-2x"></i></a>
</footer>

  </body>
</html>
